.HomeDashboard
{
    height: 100vh;
}
.Home{
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .subinside{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 37px;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    text-align: center;
    color: #08152D;
}
p{
    width: 868px;
height: 57px;
left: 286px;
top: 411px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 40px;
/* or 160% */

display: flex;
align-items: center;
text-align: center;

color: #08152D;
}
.homepagebutoonsection{
    display: flex;
    margin-top: 4rem;
    justify-content: center;
}
.getstart{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    width: 249px;
    height: 59.67px;
    left: 460px;
    top: 531.33px;
    background: #08152D;
    justify-content: center;
    margin-bottom: 0;
    transition: all ease-in-out 0.05s;
    &:hover{
        font-size: 22px; 
    }
}
.Watch{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    line-height: 24px;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #08152D;
    width: 249px;
    height: 59.67px;
    left: 460px;
    top: 531.33px;
    background: #FFFFFF;
    justify-content: center;
    margin-bottom: 0;
    border: 0.5px solid #08152D;
    transition: all ease-in-out 0.05s;
    &:hover{
        font-size: 22px; 
    }
}
.footerdiv{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 5rem;
    img{
        cursor: pointer;
    }
}
}
